extends layout

block content
    .center
        h1 WHAT ARE YOU LOOKING FOR?
        form(action='/search', method='POST')
            input(type='text', id="search", placeholder="Search...", autocomplete="off", name='search', required)
            br
            button.myButton(type='submit') SEARCH