doctype html
html
  head
    title Youtube Search
    meta(http-equiv='X-UA-Compatible', content='text/html', charset='UTF-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='favicon' href='/images/youtube.png')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800&display=swap' rel='stylesheet')
  body
    block content
