doctype html
html
  head
    title Youtube Search
    meta(http-equiv='X-UA-Compatible', content='text/html', charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel=rel='icon' type='image/png' href='/images/youtube.png')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800&display=swap' rel='stylesheet')
  body
    block content
